body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: hsl(180, 45%, 80%);
}

h1 {
  text-align: center;
}

#filters {
  margin-bottom: 20px;
}

#filters label {
  margin-right: 10px;
}

#filters select {
  margin-right: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table, th, td {
  border: 1px solid#111010;
}

th, td {
  padding: 10px;
  text-align: center;
}

th {
  background-color: #d2b41b;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007BFF;
  color: rgb(12, 11, 11);
  border: none;
  border-radius: 5px;
  margin-top: 20px;
}

button:hover {
  background-color: #0056b3;
}
